.form__div{
    display: none;
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: #ffffff65;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 1;
}

.form__div--active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__form{
    width: 300px;
    padding: 15px;
    border: solid 1px var(--lgrey);
    color: var(--blue);
    background-color: white;
    position: relative;
}

.form__h2{
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.form__x{
    position: absolute;
    font-size: 30px;
    color: var(--blue);
    top: 0px;
    right: 5px;
    cursor: pointer;
}

.form__x:hover{
    color: red;
}

.form__span{
    font-family: var(--label);
    font-weight: 600;
    font-size: 14px;
}

.form__label{
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.form__input{
    border: solid 1px var(--lgrey);
    border-radius: 2px;
    padding: 5px;
    margin-top: 5px;
}

.form__button{
    background-color: var(--button);
    color: white;
    width: 268px;
    height: 30px;
    border: none;
    margin: 20px 0 5px 0;
}
